{% extends "base.html" %}

{% block content %}

<div class="item content management">
	<div class="container">
		<div class="col-md-11 col-md-offset-1">
			<div class="slide-text">
				<div>
                    <h2>Your Shopping Cart</h2> 
                    <table> 
                        <thead> 
                            <tr> 
                                <th>Product</th> 
                                <th>Quantity</th> 
                                <th>Price</th> 
                                <th>Total</th> 
                                <th>Actions</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            {% for item in items %} 
                            <tr> 
                                <td><strong>{{ item.product.name }}</strong></td> 
                                <td> 
                                    <form method="POST" action="{% url 'update_cart_item' item.id %}"> 
                                        {% csrf_token %} 
                                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1"> 
                                        <button type="submit" style="background-color: blue; color: white;">Update</button>
                                    </form> 
                                </td> 
                                <td>{{ item.product.price }}</td> 
                                <td>{{ item.get_total_price }}</td> 
                                <td> 
                                    <button class="delete-btn" data-item-id="{{item.id }}" style="background-color: red; color: white;"><a href="{% url 'remove_from_cart' item.id %}">Remove</a> </button>
                                </td> 
                            </tr> 
                            {% endfor %} 
                        </tbody> 
                    </table> 
                    <p class="total-price">Total Price:<strong>Rs {{ total_price }}</strong></p>  
                    
                    <button class="update-btn" style="background-color: green; color: white;"><a href="{% url 'shop' %}" >Back to Shoping</a> </button>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
{% endblock %} 