{% extends "base.html" %}

{% block content %}
<div class="item content management">
	<div class="container">
		<div class="col-md-11 col-md-offset-1">
			<div class="slide-text">
                
                    <h2>Contact Us</h2>
                    

                    {% if success %}
                        <div class="alert alert-success" role="alert">
                            {{ success }}
                        </div>
                    {% endif %}
                    <div class="form-container">
                        <form method="POST">
                            {% csrf_token %} 
                            {{form}}
                            <button class="form-button" type="submit">Save</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<br>
<br>

{% endblock %}