{% extends "base.html" %}

{% block content %}

<div class="item content management">
	<div class="container">
		<div class="col-md-11 col-md-offset-1">
			<div class="slide-text">
				<div>
                    <h2>Buy item</strong></h2>
                    <form method="post" enctype="multipart/form-data" class="form-container">
                        {% csrf_token %}

                        <!-- Customer Name field -->
                        <div class="form-group">
                            {{ form.customer_name.label_tag }}
                            {{ form.customer_name }}
                        </div>

                        <!-- Quantity field -->
                        <div class="form-group">
                            {{ form.quantity.label_tag }}
                            {{ form.quantity }}
                        </div>

                        <!-- Address field -->
                        <div class="form-group">
                            {{ form.address.label_tag }}
                            {{ form.address }}
                        </div>

                        <!-- Mobile field -->
                        <div class="form-group">
                            {{ form.mobile.label_tag }}
                            {{ form.mobile }}
                        </div>

                        <!-- Displaying item details -->
                        <p>Buying item: <strong>{{ item.name }}</strong></p>

                        <button type="submit" style="background-color: blue; color: white;">Buy Now</button>
                        <button type="cancel" style="background-color: green; color: white;"><a href="{% url 'shop' %}">Cancel</a></button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div>
<br>
{% endblock %}
